body{
	color: white;
	text-align: center;
	/*font-size: 20px;*/
}
#headWrapper{
	border-radius: 100px;
	/*line-height: 60px;*/
	height: 100px;
	width: 85%;
	background-color:rgb(31,71,122);
	text-align: center;
	position: fixed;
	align-content: center;
	display: inline-block;
	margin-left: -42.5%;
	left: 50%;
	height: 12.5%;
	margin-top: -10%;
	margin-color: white;
	font-size: default;
}
#logo{
	margin-top: .5%;
	left: 50%;
	margin-left: -35%;
	position: fixed;
}
#bulldog{
	margin-top: -4.2%;
	right: 50%;
	margin-right: -35%;
	position: fixed;
}
#bodyWrapper{
	color: black;
	margin-top: 12.5%;
}
#footer{
}
#brother{
	margin-left: 25px;
	margin-bottom: 5px;
}


/*have calender for specials, login for workers on concessions, add in pictures for slideshow
 from the concessions. different concessions different menus, have menu on the front, show prices
 and show how many items are remaining in stock. Hs, Ms, calender, login. login lets admin to add or
 remove data, with inventory, add extra page only accessable through login, with spreadsheets of
 previous days and for stocking snacks and pizza. lock data from previous days*/